* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  cursor: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  //media quries in series
  @include respond(tab-land) {
    //max-width(1200px)
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-prot) {
    //max-width(950px)
    font-size: 50%; //1rem = 8rem
  }
  @include respond(desk) {
    //min-width(1900px)
    font-size: 75%; //1rem = 12px
  }
  @include respond(bg-desk) {
    //min-width(1600px)
    font-size: 87.5%; //1rem = 14px
  }
}

::selection {
  background-color: $color-green-dark;
  color: $color-white-light;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: $font-para;
  font-size: 1.6rem;
  letter-spacing: 0.016rem;
  line-height: 2.4rem;
  background-color: $color-white-light;
  color: $color-black-mid;
}

.rapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0 10rem;

  @include respond(tab-land) {
    //900px to 1200px max-width(75em)
    margin: 0 7rem;
  }
  @include respond(phone-land) {
    //400px to 700px max-width(43.75em)
    margin: 0 4rem;
  }
  @include respond(phone-prot) {
    //0px to 400px max-width(28.125em)
    margin: 0 2rem;
  }
  @include respond(desk) {
    //1600px - 2000px min-width(100em)
    margin: 0 13rem;
  }
  @include respond(bg-desk) {
    //2000px and up min-width(118.75em)
    margin: 0 15rem;
  }
}
